body{
    background-image: url(https://images.unsplash.com/photo-1718040249383-9145e8879454?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 1rem;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
h1{
    text-align: right;
    font-style: italic;
    color: blueviolet;
}
h6{
    text-align: right;
    color: blueviolet;
}
h2{
    text-align: center;
    color: antiquewhite;
}
